# This is the ssh client system-wide configuration file.  See
# ssh_config(5) for more information.  This file provides defaults for
# users, and the values can be changed in per-user configuration files
# or on the command line.

# Configuration data is parsed as follows:
#  1. command line options
#  2. user-specific file
#  3. system-wide file
# Any configuration value is only changed the first time it is set.
# Thus, host-specific definitions should be at the beginning of the
# configuration file, and defaults at the end.

# Site-wide defaults for some commonly used options.  For a comprehensive
# list of available options, their meanings and defaults, please see the
# ssh_config(5) man page.

Host *
	Port 22
	AddressFamily any
	ConnectTimeout 23s
	ServerAliveInterval 20
	ServerAliveCountMax 3
	AddKeysToAgent yes
	UserKnownHostsFile ~/.config/ssh/known_hosts
	StrictHostKeyChecking ask
	CheckHostIP yes
	VisualHostKey yes
	Compression yes
	ControlMaster auto
	ControlPersist 1234s
	ControlPath ~/.cache/ssh/sockets/%h_%p_%r
	TCPKeepAlive yes
	PreferredAuthentications publickey,password
	PKCS11Provider /run/current-system/sw/lib/libtpm2_pkcs11.so
	RekeyLimit 1G 1h
	EscapeChar ~
	ForwardX11 no
#	ForwardX11Trusted no
#	Tunnel no
#	TunnelDevice any:any

Host nixos-installer
	HostName temp.host.internal
	User nix
	IdentityFile ~/.secrets/ssh/id_nixos
	StrictHostKeyChecking no
	UserKnownHostsFile /dev/null

Host cookie*
	User keks
	IdentityFile ~/.secrets/ssh/id_nixos

Host cookieclicker
	HostName cookieclicker.internal.keksgesicht.de

Host cookieflyer
	HostName cookieflyer.internal.keksgesicht.de

Host cookiemailer
	HostName cookiemailer.internal.keksgesicht.de

Host cookiepi
	HostName cookiepi.internal.keksgesicht.de

Host cookiethinker
	HostName cookiethinker.internal.keksgesicht.de

Host git*
	User git
	IdentityFile ~/.secrets/ssh/id_git

Host *.tu-darmstadt.de
	User jb64tori
	IdentityFile ~/.secrets/ssh/id_tuda

Host lcluster*.hrz.tu-darmstadt.de
	ForwardX11 yes

Host gitlab.esa.informatik.tu-darmstadt.de
	ProxyJump erebor.esa.informatik.tu-darmstadt.de
